<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app.name }}</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/topbar.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'topbar.html' %}

    <div id="main_container">
        <h1>{{ app.name }}</h1>
        <h4>Главная страница</h4>
    </div>

    <div id="footer">
        <p><span class="version">Версия: {{ app.version }}</span></p>
    </div>
</body>
</html>
