<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app.name }}</title>
    <link href="/static/css/topbar.css" rel="stylesheet">
    <link href="/static/css/user.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'topbar.html' %}

    <h1 id="page_title">Информация о пользователе</h1>

    <div id="main_container">
        <div class="user_card">
            <p>Имя: <span class="user_card__name">{{ user.name }}</span></p>
            <p>Подписан на курсы:</p>
            {% for currency in currencies %}
                <p class="user_card__currency">
                    <span class="user_card__currency_name">{{ currency.name }}</span>
                    (<span class="user_card__currency_code">{{ currency.char_code }}</span>)
                </p>
            {% endfor %}
        </a>
    </div>
</body>
</html>