* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #0F0E0E;
    color: white;
    font-family: 'Montserrat';
}

#main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 18px;
}

#page_title {
    margin-top: 50px;
    font-size: 3.5em;
    text-align: center;
}

.user_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #222;
    border-radius: 12px;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    padding: 16px 20px;
    min-width: 500px;
    min-height: 300px;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

.user_card__name {
    color: palegreen;
    font-weight: 600;
}

.user_card__currency {
    color: white;
}

.user_card__currency_code {
    color: #aaa;
}

.user_card__currency {
    margin-left: 16px;
}