<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/static/css/author.css" rel="stylesheet">
        <link href="/static/css/topbar.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include 'topbar.html' %}

        <div id="main_container">
            <p id="author_info">Лабораторную работу сделал студент 2 курса <span id="author_info__group">группы {{ app.author.group }}</span><br><span id="author_info__name">{{ app.author.name }}<span></p>
        </div>
    </body>
</html>
